<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="elform-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `elform-element`
     * Componente para formulario de agregar alumno
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElformElement extends Polymer.Element {
      static get is() { return 'elform-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'elform-element'
          }
        };
      }
    }

    window.customElements.define(ElformElement.is, ElformElement);
  </script>
</dom-module>
